$primary-background: #F0E3FF;
$secondary-color:#FF5733;
$header-background:#471CA8;
$third-color:#884AB2;
$border-color: #2f4f4f;
$homePage-link-color: #323232;
$secondary-background: #ffffff;
$secondary-border: #778899;
$input-inputForm: #a3a3a3;
$header-border:#d3d3d3;
$error-contact-form:#f18f01;
