@import '../../Styles/variables';
@import '../../Styles/mixins';

.logInForm{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 2rem;
        margin-bottom: -3rem;
        width:30vw;
    &__icon-title-wrapper{
        padding-left: 2rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    &__form{
        width: 100%;
        padding-left: 2rem;
        line-height: 2rem;
        font-size: 1.3rem;
        display: flex;
        flex-direction: column;
        &:hover{
            cursor:default;
        }
    }
    &__text{
        &:first-of-type{
            margin-right: 0.5rem;
        }
    }
    &__input{
        padding: 0.75rem 0 0.75rem 1rem;
        border-radius: 0.5rem;
        border:1px solid $input-inputForm;
        margin-bottom: 1rem;
        &:hover{
            border-color: $third-color;
        }
        &:focus{
            outline:1px solid $third-color;
        }
    }
    &__button{
        @include login-button;
        margin-top: 1rem;
        width: 100%;
        &:hover{
            cursor: pointer;
        }
    }
}