@import '../../Styles/variables';
@import '../../Styles/mixins';

.header{
    &__wrapper{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1.5rem 3rem;

        background-color: $primary-background;
    }
    &__wrapper--left{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &__icon{
        height:3rem;
        width:3.5rem;    
    }
    &__wrapper--right{
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    &__button{
        @include login-button;
        width: 9rem;
        &:hover{
            cursor: pointer;
        }
    }
}