@import '../../Styles/variables';
.chatBody{
    height:100%;
    background-color: $secondary-background;
    border: 1px solid $header-border;
    border-radius: 0.5rem;
    margin-right: 2.8rem;
    overflow: auto;
    margin-left: 2.8rem;
    &__messages{
        padding: 0 2rem 0.5rem 2rem;
        width: 90%;
    }
    &__messages-recipient{
        display: flex;
        flex-direction: column;
        align-items: end;
    }
    &__message{
        padding: 0 1rem;
        width: fit-content;
    }
    &__message-sender{
        border: 1px solid $third-color;
        border-radius: 20px;
        background-color: $third-color;
        color:$secondary-background;
    }
    &__message-recipient{
        border: 1px solid $header-border;
        background-color: $header-border;
        border-radius: 20px;
    }
}